<div class="main">
  <div class="about">
    <div class="about-title">
      <h2>About UMAJO</h2>
    </div>

    <div class="about-explain">
      旦那さんの、彼氏の、競馬に付いていくことになったけど、、、</br>
      <span2>競馬ってよく分かんない、、、</br></span2>
      そんなお悩みを解消するために</br>
      <span3>競馬の基礎知識/勝つための豆知識/競馬場グルメ</br></span3>
      を閲覧いただけます<br>
      <%= link_to "登録", new_user_registration_path, class: "ab-shadow" %>

    </div>
  </div>
</div>