.signin-container {
  text-align: center;
}

.signin-title {
  color: #ff69b4;
  font-family: "Comic Sans MS";
  margin-bottom: 20px;
  font-size: 56px
}

.field {
  font-family: "Comic Sans MS";
  margin-bottom: 5px;
}

.actions {
  margin: 20px;
}